fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-qdrant
qdrant-client
langgraph
sentence-transformers
chromadb
pydantic
pydantic-settings
python-multipart
requests
jinja2
prometheus-client
ragas
pandas
datasets
